* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --cell-size: 50px;
}

body {
    background-color: rgb(217, 232, 245);
}

.grid {
    margin-bottom: 30px;
    background-color: white;
}

.grid > div {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid black;

    /* center inner text */
    display: flex;
    align-items: center;
    justify-content: center;
}

#problem-data-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#grid-container {
    width: fit-content;
    gap: 20px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5vh;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    background-color: bisque;
    border-radius: 10px;
    border: 1px solid burlywood;
}

@media (max-width: 450px) {
    #problem-data-container {
        flex-direction: column;
    }

    #grid-container {
        flex-direction: column-reverse;
    }
}

body {
    padding-top: 20vh;
}

#options-container {
    width: fit-content;
    margin: 0 auto;

    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(180, 211, 211);
}

#options-container button {
    display: block;
    margin: 0 auto;
    padding: 2px;
}

.display-none {
    display: none;
}

#buttons-container {
    position: relative;
    background-color: rgb(180, 211, 211);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid burlywood;
}

#buttons-container > p {
    margin-bottom: 20px;
}

#solution-container {
    background-color: bisque;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid burlywood;
}
#solution-list {
    background-color: rgb(180, 211, 211);
    padding-left: 25px;
}

#upBtn {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

#rightBtn {
    position: absolute;
    bottom: 10px;
    left: 90px;
}

#downBtn {
    position: absolute;
    bottom: 10px;
    left: 40px;
}

#leftBtn {
    position: absolute;
    bottom: 10px;
    left: 5px;
}

#resetBtn {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

#solutionBtn {
    position: absolute;
    bottom: 40px;
    right: 5px;
}
